.titulo {
    font-size: 12px;
    font-weight: bold;
    color: hsl(186, 14%, 43%);
    margin-bottom: 2px;
    margin-left: 10px;
    align-self: flex-start;
    width: 60%;
}

.tituloBox2 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 12px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-bottom: 2px;
    margin-left: 10px;
    align-self: flex-start;
    opacity: 80%;
}

.tituloPerson {
    display: grid;
    grid-column: 1/1;
    grid-row: 2/4;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 10px;
    align-self: flex-start;
    opacity: 50%;
}