.valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 20px 0;
}

.outroValor {
    display: flex;
    border-radius: 5px;
    border: 2px solid hsl(172, 67%, 45%);
    width: 75px;
    height: 25px;
    margin: 4px 4px;
    padding: 5px;
    text-align: center;
    background-color: #FFF;
    color: hsl(183, 100%, 15%);
    font-style: italic;
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: bold;
}

.inputValor {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    border: 2px solid transparent;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: bold;
    text-align: right;
}

.inputValorErro {
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    border: 2px solid red;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: bold;
    text-align: right;
    outline: 0;
}

.inputPessoas {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    border: 2px solid transparent;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: bold;
    text-align: right;
}

.inputPessoasErro {
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    border: 2px solid red;
    border-radius: 3px;
    width: 90%;
    height: 30px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: bold;
    text-align: right;
    outline: 0;
}

.inputValor:focus,
.inputPessoas:focus {
    border: 2px solid hsl(172, 67%, 45%);
    outline: 0;
}

.divValor {
    display: flex;
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    width: 93%;
    justify-content: flex-end;
}

.valorGorgeta {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}

.divGorgeta {
    display: flex;
    background-image: url(../images/icon-person.svg);
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    width: 93%;
    justify-content: flex-end;
}

.calculoConta {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    align-items: center;
    height: 50px;
    width: 100%;
}

.valorCalculado {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    color: hsl(172, 67%, 45%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: 600;
    text-align: right;
}

.impostoPessoa {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    font-family: "Space Mono";
    font-weight: 600;
    text-align: right;
}

.divValor {
    display: flex;
    background-image: url(../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-color: hsl(189, 41%, 97%);
    background-size: 5%;
    background-position-x: 8px;
    background-position-y: center;
    width: 93%;
    justify-content: flex-end;
}